.banner {
  background: url("src/assests/home/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
}
body {
  background-image: linear-gradient(
    90deg,
    rgb(0, 31, 169) 1.1%,
    rgba(64, 19, 122) 60%,
    rgba(71, 15, 98) 99%
  );
}
